$main-color: #4d9670;
$main-color-blue: #4d7d96;
$main-color-light-blue: #71a2bb;

html,
body,
div,
input {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

html,
body,
#root {
    height: 100%;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    border: 1px solid #c1c1c1;
    padding: 12px 8px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
        font-style: italic;
        color: #a9a9a9;
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    color: #4b5d6d;
}

.font-small {
    font-size: 0.8em;
}

.flex-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        display: inline-block;
    }
}

.main-back {
    background: url('../assets/main-back.svg');
    margin: 60px 0 0;
    width: 40%;
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#submit-button {
    display: none;
}

.button {
    position: relative;
    display: inline-block;
    border: 1px solid #a7a7a7;
    background: #f3f3f3;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &--primary {
        background: $main-color-blue;
        border-color: darken($color: $main-color-blue, $amount: 10);
        color: white;
    }

    &--small {
        font-size: 0.8em;
        padding: 7px 15px;
    }

    &--loading {
        user-select: none;
        pointer-events: none;
        color: transparent;
    }

    .spinner-wrapper {
        left: 0;
        top: 0;
        position: absolute;
    }
}

.form {
    p {
        font-size: 1.8em;
    }
}

.form-row {
    margin-bottom: 15px;
}

.form-label {
    color: gray;
    margin-bottom: 5px;
}

.wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 160px;
    background-color: $main-color-blue;

    .logo {
        width: 160px;
        height: 70px;
        background: url('../assets/mayo-logo-full.svg') center center no-repeat;
        background-size: contain;
        margin-left: 40px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: calc(100vh - 760px);
}

.app-container {
    position: relative;
    width: 1396px;
    height: 95%;
    background-color: white;
    z-index: 7;
    display: flex;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    margin-top: -70px;
    margin-bottom: 75px;
}

.chat-header {
    height: 70px;
    min-height: 70px;
    width: 100%;
    background-color: #ededed;
}

.action-button {
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: #8a9aa2;

    &:hover {
        background: rgba(0, 0, 0, 0.08);
    }
}

.chat-list {
    width: 30%;
    border-right: 1px solid #ededed;

    &__header {
        @extend .chat-header;
        border-right: 1px solid #c5c5c5;
        display: flex;
    }

    &__header-settings-button,
    &__header-add-contact,
    .logout-container {
        @extend .action-button;
    }

    &__header-add-contact {
        margin-left: auto;
    }

    &__header-logout {
        flex-grow: 1;
    }
}

.client-settings {
    width: 100%;
    border-right: 1px solid #ededed;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        background-color: $main-color-light-blue;
        height: 70px;
        color: white;
    }

    &__header-title {
        font-size: 23px;
        line-height: 75px;
        padding-left: 30px;
    }

    &__header-arrow {
        padding: 25px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background: rgba(0, 0, 0, 0.08);
        }
    }

    &__client-pic-container {
        width: 100%;
        height: 230px;
    }

    &__client-pic {
        background-color: lightgray;
        margin: 25px auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        cursor: pointer;
        width: 200px;
        height: 200px;
        position: relative;

        &:hover .client-settings__client-pic-shadow-container {
            opacity: 1;
        }
    }
    &__client-pic-shadow-container {
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: #9e9e9eab;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        z-index: 5;
        transition: opacity 0.3s ease;
    }
    &__upload-input {
        opacity: 0;
        display: none;
    }
    &__upload-label {
        font-size: 17px;
        text-align: center;
        display: none;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__data-change-form {
        margin: 30px auto;
        width: 300px;
    }
    &__data-change-box {
        margin: 10px 0;
    }
    &__data-change-title {
        font-size: 17px;
    }
    &__data-change-prop {
        font-size: 16px;
        display: inline-block;
    }
}

.theme {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;

    &__item {
        width: 100px;
        height: 100px;
        margin: 10px;
        border: 2px solid #9e9e9eab;
    }
}

.dialog {
    width: 70%;

    &__header {
        @extend .chat-header;
        box-sizing: border-box;
        padding: 17px 25px 17px 17px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__header-menu {
        @extend .action-button;
        margin-top: -18px;
        margin-right: -24px;
    }

    &__screen {
        overflow: auto;
        height: calc(100% - 165px);
        padding: 20px;
        box-sizing: border-box;
    }

    &__type-message {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        position: relative;
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px;

        input[type='submit'] {
            display: none;
        }
    }

    &__input {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 65px;
        min-height: 65px;
        border: none;
        border-radius: 10px;
        border: 1px solid #cccccc;
        padding: 3px 80px 3px 55px !important;
        font-size: 15px;

        &:focus {
            outline: none;
            border: 1px solid $main-color-light-blue;
        }

        &::placeholder {
            font-style: italic;
        }
    }

    &__send-message-button {
        width: 6%;
        height: 50%;
        margin: 15px 20px;
        background: $main-color-blue;
        text-align: center;
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        right: 10px;
        bottom: 7px;
        cursor: pointer;
        text-align: center;
        line-height: 50px;

        &:hover {
            background: lighten(#4d9670, 4%);
        }
    }

    &__emodji {
        position: absolute;
        bottom: 35px;
        left: 30px;
    }
}
.preview-modal {
    &__container {
        position: fixed;
        background: #fff;
        box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
        animation: popup 0.4s ease forwards;
        max-width: 500px;
        left: calc(50% - 150px);
        top: 20%;
        z-index: 100;
        box-sizing: border-box;
    }
    &__image {
        max-width: 90%;
        height: auto;
    }
    &__input-submit {
        display: none;
    }
    &__button {
        width: 3em;
        height: 50%;
        margin: 15px 20px;
        background: $main-color-blue;
        text-align: center;
        position: absolute;
        height: 50px;
        border-radius: 50%;
        right: 10px;
        bottom: 7px;
        cursor: pointer;
        text-align: center;
        line-height: 50px;

        &:hover {
            background: lighten(#4d9670, 4%);
        }
    }
}

.usercard {
    display: flex;

    &__pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #bdbdbd;
        background: lightgray;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__info {
        margin: 5px 0 0 10px;
    }

    &--small {
        .usercard__pic {
            width: 40px;
            height: 40px;
        }
    }
}

.chat-preview {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ededed;

    cursor: pointer;

    &:hover {
        background-color: #fbfbfb;
    }

    &__user {
        margin: 10px 0 0 10px;
        box-sizing: border-box;
    }

    &__user-pic {
        width: 55px;
        height: 55px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    &__notification {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        color: #ff5200;
    }
}
.selected-contact {
    background-color: #bccdda;

    &:hover {
        background-color: darken($color: #5f5a4452, $amount: 3);
    }
}

.message-screen-container {
    min-height: 20px;
    max-width: 70%;
    clear: both;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;

    &.outgoing {
        float: right;
        background: #d9ece2;
    }

    &.incoming {
        float: left;
        background: #efefef;
    }

    &__user_name {
        display: none;
    }

    &__message {
        float: left;
        font-size: 17px;
        word-break: break-all;
    }

    &__time_stamp {
        float: right;
        font-size: 14px;
        color: #5d5d5d;
        margin: 8px 0 0 30px;
    }
}
.image-gallery {
    position: absolute;
    background: #f3f3f3;
    box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
    animation: popup 0.4s ease forwards;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    left: calc(10% - 60px);
    top: 4%;
    z-index: 100;
    padding: 40px 20px;
    &__close {
        float: right;
        margin-right: 30px;
    }
    &__image {
        width: 70%;
        height: 60%;
        transition: all 0.3s ease;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    &__wrapper {
        overflow: hidden;
        margin: 30px auto;
    }

    &__demo-container {
        height: 200px;
        width: 100%;
        padding: 10px 20px;
        bottom: 10px;
        vertical-align: middle;
        position: relative;
        white-space: nowrap;
        box-sizing: border-box;
    }
    &__demo-image-container {
        display: inline-block;
        width: 180px;
        height: 90%;
        border: 1px solid #bdbdbd;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 75ms ease-out, opacity 0.25s ease-in-out;
        opacity: 0.6;
        cursor: pointer;

        &:hover,
        &.active {
            opacity: 1;
        }
    }
    &__chevron-left,
    &__chevron-right {
        cursor: pointer;
        position: absolute;
        top: 32%;
    }
    &__chevron-left {
        left: 25%;
    }
    &__chevron-right {
        right: 25%;
    }
}

.create-account {
    margin: 40px auto;
    max-width: 400px;
    &__title {
        margin-bottom: 30px;
        text-align: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }

    &__warning {
        color: #e21515;
    }
}

.blur {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.add-contact {
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 25px 30px;
        background: #e4ebf1;
    }

    &__container {
        animation: popup 0.4s ease forwards;
        background: #fff;
        width: 600px;
        height: 500px;
        position: absolute;
        top: 174px;
        right: 300px;
        box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;

        input[type='email'] {
            font-size: 17px;
        }
    }
    &__form {
        padding: 30px;
    }

    &__close-modal {
        cursor: pointer;
        color: #4b5d6d;
        float: right;
    }
}
.auth-container {
    margin: 25px auto;
}

.message {
    padding: 15px;
    font-size: 17px;

    &--error {
        background: #ffe6ea;
        border: 1px solid #ffb7af;
    }
}

.dialog-menu-modal {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    right: 0px;
    top: 70px;

    &__item {
        font-size: 17px;
        padding: 20px;
        border-bottom: 1px solid #ededed;
        cursor: pointer;

        &:hover {
            background-color: #fbfbfb;
        }
    }
}

.confirm-dialog {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
    animation: popup 0.4s ease forwards;
    max-width: 300px;
    left: calc(50% - 150px);
    top: 30%;
    z-index: 100;

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 20px 25px;
        background: #e4ebf1;
        font-size: 17px;
    }

    &__form {
        padding: 30px;
        display: flex;
        justify-content: space-around;
    }
}

@keyframes popup {
    0% {
        opacity: 0.5;
        transform: scale(0, 0);
    }
    80% {
        transform: scale(1.1, 1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
